mixin yearDetail(concert, but_on)
  //- but_on triggers button being on or off
  - var c_show = 'public.lg.ydetail.data.' + concert + '.show_t'
  - var c_loc = concert + '.loc'
  //- var c_txt = stub.desc
  .col-md-7.col
    img.img-responsive(data-src="holder.js/750x350", alt="...")
    //- Whitespace to add separation between rows
    p
  .col-md-5 
    each val, slug in public.lg.ydetail.data
      
      if slug == concert
        //h3 Show Details #{ slug }
        h3 #{ val.show_t }
        p #{ val.loc }
        h4 #{ val.descf }
        // desc_file = #{ val.descf }
        p #{ val.info }
        //!= partial(desc_file)
        // != partial("_s_2004_1_txt")
        //p #{ public.lg.ydetail.data.s_2004_1.loc }
        case but_on
          when 1: a(class="btn btn-info", href="/lg/detail/#{ slug }_det") View Concert
          default: a(class="btn btn-info", href="/lg/detail/#{ slug }_det", disabled='disabled') View Concert
        

.container 
  .row
    .col-lg-12
    h1.page-header 2004 Concerts 
      small 30 Seconds To Mars
      
    
   .row
     .col-md-7.col
      img.img-responsive(data-src="holder.js/750x350", alt="...")
     .col-md-5 
        h3 Show Details
        h4 Rio De Janeiro
        != partial("_2004_txt")
        p #{ public.lg.ydetail.data.s_2004_1.loc }
        a(class="btn btn-info", href="/2000") View Concert
        
        
   .row     
     +yearDetail("s_2004_1",1)

   .row
     +yearDetail("s_2004_2", 0)    